img {
  width: 100px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.cart-item-details {
  padding-right: 64px;
}

.text-input {
  margin-bottom: 32px;
}

.label-input {
  font-weight: bold;
}

.privacy {
  font-size: 12px;
  color: #e4a11b;
}

.error {
  color: #dc4c64;
  font-size: 12px;
  margin-top: 24px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.empty-cart {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 16px;
}
