<div class="detail-container">
  <div class="mb-3">
    <div class="row g-0">
      <div class="col-md-5 img">
        <img src="{{ item?.url }}" class="img-thumbnail" alt="product image" />
      </div>
      <div class="col-md-7 description">
        <div class="card-body">
          <h4 class="card-title">
            <b>{{ item?.name }}</b>
          </h4>
          <br />
          <p class="card-text">${{ item?.price }}</p>
          <p class="card-text">{{ item?.description }}</p>
          <p>
            <input
              class="select-input form-control"
              type="number"
              min="1"
              [(ngModel)]="amount"
            />
          </p>
          <p>
            <button
              href="#"
              class="btn btn-primary"
              (click)="addToCart(item?.id)"
            >
              Add to Cart
            </button>
          </p>
          <p routerLink="/" class="back-link">◀ Back to product list</p>
        </div>
      </div>
    </div>
  </div>
</div>
