img {
  border-radius: 10px;
  width: 320px;
}

.description {
  padding: 64px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.back-link {
  margin-top: 8px;
  color: #0d6efd;
  cursor: pointer;
}
